/* Font Style */

@font-face{
   font-family:'samsungonelatin400';
   src:url("../font/SamsungOneLatin-400.woff2") format("woff2"),
   url("../font/SamsungOneLatin-400.woff") format("woff");
   font-weight:normal;
   font-style:normal
}

body {
   font-family: 'samsungonelatin400', Arial, Helvetica, sans-serif; 
   font-size: 12px;
   line-height: 1.3;
   color: rgb(0,0,0);
}

/* Layout Style */

div, ul, li {
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
}

/* Text Style */


/* Color Style */