.footer_wrap {
   height: 61px;
   position: relative;
   width: 100%;
   background-color: rgb(255,255,255);
}

.footer {
   font-family: 'samsungonelatin700';
   font-size: 14px;
   line-height: 1;
   padding: 24px 3.75% 0 3.75%;
   color: rgb(136,136,136);
   
}

.samsung_logo {
   display: inline-block;
   margin: 0 14px 0 0;
   height: 14px;
   width: 91px;
   vertical-align: bottom;
   background-image: url(../img/logo_samsung_foot.png);
   background-repeat: no-repeat;
   background-position: 0 0;
   background-size: 100% auto;
}

.info a {
   font-family: 'SamsungOneKorean400';
   text-decoration: underline;
   color: rgb(136,136,136);
   font-size: 14px;
   letter-spacing: -1px;
}

@media only screen and (max-width: 767.7px) {
   .footer {
      padding-top: 3.2vw;
      padding-left: 4%;
      padding-bottom: 4%;
   }

   .samsung_logo {
      width: 17.73333vw;
      height: 2.8vw;
      background-image: url(../img/logo_samsung_foot@x2.png);
   }

   .copyright {
      font-size: 3.2vw;
      margin-top: 3.2vw;
      display: block;
   }

   .more {
      display: none;
   }

   .info {
      margin-top: 2.93333vw;
      display: block;
   }

   .info a {
      font-size: 2.93333vw;
   }

}

@media only screen and (min-width: 768px) and (max-width: 1280px) {
   .footer {
      padding-top: 1.875vw;
      padding-left: 3.75%;
      padding-right: 3.75%;
      font-size: 1.09375vw;
   }

   .samsung_logo {
      width: 7.10938vw;
      margin-right: 1.09375vw;
      height: 1.09375vw;
   }

   .info a {
      font-size: 1.09375vw;
   }

}

