/* Main CSS */

.main_container {
   width: 100%;
   min-height: calc(100vh - 61px);
   padding-top: 130px;
}

/* Hero Video CSS */
.hero {
   width: 100%;
}

.hero a {
   width: 100%;
   height: 100%;
   display: block;
}

.hero_video_wrap {
   width: 100%;
   position: relative;
   padding-top: 33.28125%;
   display: block;
}

.hero_video_wrap video {
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   display: block;
}

.hero_video {
   width: 100%;
   height: 640px;
}

.hero_video_wrap video:nth-child(2) {
   display: none;
}

.hero_text_content {
   width: 100%;
   padding: 30px 3.75% 120px 3.75%;
}

.hero_text {
   margin: 0 1.25vw;
   position: relative;
   line-height: 1;
}

.hero_text .hero_title {
   font-size: 48px;
   font-family: 'SamsungSharpSansMedium','SamsungOneKorean600';
   color: rgb(0,0,0);
   letter-spacing: -0.015em;
}

.hero_text .hero_desc {
   font-size: 28px;
   padding: 20px 0 0 0;
   color: rgb(0,0,0);
   letter-spacing: -0.015em;
}

.hero_date {
   position: absolute;
   top: 0;
   right: 0;
   font-size: 12px;
   line-height: 1;
   display: block;
   color: rgb(102, 102, 102);
   font-family: 'samsungonelatin400', 'SamsungOneKorean400';
}

/* Main Content List CSS */

.content_list {
   position: relative;
}

.content_list li {
   width: 29.9%;
   padding: 0 0 80px 0;
   margin: 0% 0.5%;
   display: inline-block;
   box-sizing: content-box;
   vertical-align: top;
}

.content_list li:nth-child(3n+1) {
   margin-left: 3.75%;
}

.content_list li:nth-child(3n+3) {
   margin-right: 3.75%;
}

/* Main Cotent Text CSS */

.content_list li dl {
   position: relative;
   padding: 56.25% 0 0 0 ;
}

.content_list li dl dt.title {
   font-size: 30px;
   line-height: 1.2;
   padding: 26px 1.25vw 0 1.25vw;
   font-family: 'SamsungSharpSansMedium', 'samsungonelatin600', 'SamsungOneKorean600';
   letter-spacing: -0.02em;
   text-align: left;
}

.content_list li dl dd.desc {
   font-size: 18px;
   line-height: 1.22222;
   padding: 14px 1.25vw 0 1.25vw;
   font-family: 'samsungonelatin400', 'SamsungOneKorean400';
   letter-spacing: -0.02em;
}

.content_list li dl dd.date {
   font-size: 12px;
   line-height: 1;
   padding: 18px 1.25vw 0 1.25vw;
   color: rgb(102, 102, 102);
}

/* Main Cotent Image CSS */

.content_list li dl dd.img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding-top: inherit;
  overflow: hidden;
}


.content_list li dl dd.img a {
   display: block;
   position: absolute;
   width: 100%;
   padding-top: inherit;
   top: 0;
}


.content_list li dl dd.img .item {  
   position: absolute;
   left: 0;
   top: 0;
   right: 0;
   bottom: 0;
   width: 100%;
}

.content_list li dl dd.img .content1 {
   background-image: url(../img/ctgbnr_sound-design-2021.jpg);
}

.content_list li dl dd.img .content2 {
   background-image: url(../img/news_archive_20201224.png);
}

.content_list li dl dd.img .content3 {
   background-image: url(../img/ctgbnr_season-greeting2.jpg);
}

.content_list li dl dd.img .content4 {
   background-image: url(../img/ctgbnr_awards13.jpg);
}

.content_list li dl dd.img .content5 {
   background-image: url(../img/ctgbnr_sdm.jpg);
}

.content_list li dl dd.img .content6 {
   background-image: url(../img/ctgbnr_the-premiere1.jpg);
}

.content_list li dl dd.img .content7 {
   background-image: url(../img/ctgbnr_bespoke-cube.jpg);
}

.content_list li dl dd.img .content8 {
   background-image: url(../img/ctgbnr_designer-interview-2.jpg);
}

.content_list li dl dd.img .content9 {
   background-image: url(../img/ctgbnr_empowering-future-02.jpg);
}

.content_list li dl dd.img .content10 {
   background-image: url(../img/ctgbnr_empowering-future-01.jpg);
}

.content_list li dl dd.img .content11 {
   background-image: url(../img/ctgbnr_empowering-future.jpg);
}

.content_list li dl dd.img .content12 {
   background-image: url(../img/20200916_news_archive.jpg);
}

.content_list li dl dd.img .content13 {
   background-image: url(../img/ctgbnr_galaxy-z-fold2.jpg);
}

.content_list li dl dd.img .content14 {
   background-image: url(../img/ctgbnr_bespoke_family_hub.jpg);
}

.content_list li dl dd.img .content15 {
   background-image: url(../img/ctgbnr_new-normal.jpg);
}

.content_list li dl dd.img .content16 {
   background-image: url(../img/ctgbnr_news_023.jpg);
}

.content_list li dl dd.img .content17 {
   background-image: url(../img/ctgbnr_odyssey-monitor.jpg);
}

.content_list li dl dd.img .content18 {
   background-image: url(../img/ctgbnr_blue-story.jpg);
}


.item figure {
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   background-position: 50% 50%;
   background-repeat: no-repeat;
   background-size: cover;
}

 .img a {
   transition: transform 1s 0s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 1s;
   transform: translateY(0%) scale(1, 1);
 }

 .item figure {
   transition: transform 1s 0s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 1s;
   transform: scale(1, 1);
 }
 
 .img a:hover .item figure {
   transform: scale(1.1, 1.1);
 }

/* Main - Bottom More CSS */

.btn_area {
   padding: 0 3.7% 46px 3.7%;
   text-align: center;
}

.btn_more {
   display: inline-block;
   position: relative;
   overflow: hidden;
}

.btn_more .line {
   height: 30px;
   display: block;
   transform-origin: center top;
   transition: transform 1s 0s cubic-bezier(0.645, 0.045, 0.355, 1);
   transform: translateY(-100%);
   overflow: hidden;
}

.btn_more .line:before {
   position: absolute;
   display: block;
   content: '';
   height: 30px;
   left: 50%;
   border-left: 1px solid #000;
   transform-origin: center top;
   transition: transform 0.5s 0s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.btn_more .text {
   font-size: 18px;
   margin: 10px 40px;
   display: block;
   letter-spacing: 0.06em;
}

.btn_more .line {
   transform: translateY(0);
}

.btn_more:hover .line:before {
   animation: ani-more-hover 1s forwards;
 }

 @keyframes ani-more-hover {
    0% {
       transform: translateY(0);
    }
    40% {
       transform: translateY(110%);
    }
    40.01% {
       transform: translateY(-100%);
    }
    100% {
       transform: translateY(0);
    }
 }



@media only screen and (max-width: 767.7px){
   .hero {
      padding-top: 12.8vw;
      min-height: 100vh;
   }

   .hero_text_content {
      padding: 9.06667% 4% 20% 4%;
   }

   .hero_text {
      margin: 0vw 4vw;
   }

   .hero_text .hero_title {
      font-size: 10.66667vw;
      line-height: 1.15;
      letter-spacing: 0;
   }

   .hero_text .hero_desc {
      padding-top: 3.73333vw;
      font-size: 4.8vw;
      line-height: 1.16667;
      letter-spacing: 0;
   }

   .hero_text .hero_date {
      position: static;
      padding-top: 5.06667vw;
      font-size: 3.73333vw;
      line-height: 1;
   }

   .hero_video_wrap {
      padding-top: 100%;
   }

   .hero_video_wrap video:nth-child(2) {
      display: block;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
   }

   .hero_video_wrap video:nth-child(1) {
      display: none;
   }
   .content_list_wrap {
      padding-top: 6.66667vw;
   }

   .content_list_wrap .content_list li:nth-child(3n+1) {
      margin-left: 4%;
   }

   .content_list_wrap .content_list li {
      display: block;
      width: 92%;
      margin: 0 4%;
      padding-bottom: 26.13333vw;
   }

   .content_list_wrap .content_list li:nth-child(3n+3) {
      margin-right: 4%;
   }

   .content_list li dl dt.title {
      padding: 6.93333vw 4vw 0vw;
      font-size: 7.46667vw;
      line-height: 1.14286;
   }

   .content_list li dl dd.desc {
      padding: 2.66667vw 4vw 0vw;
      font-size: 4.8vw;
      line-height: 1.33333;
   }

   .content_list li dl dd.date {
      padding: 2.66667vw 4vw 0vw;
      font-size: 3.73333vw;
   }

   .btn_area {
      padding: 0 4% 20vw;
   }
   
   .btn_more .text {
      font-size: 3.73333vw;
      margin: 2.66667vw 5.33333vw;
      color: black;
   }

}

@media only screen and (min-width: 768px) and (max-width: 1280px) {
   
   .main_container {
      min-height: calc(100vh - (61*100 / 1280 * 1vw));
   }

   .hero {
      padding-top: 10.15625vw;
   }

   .hero_text_content {
      padding: 2.34375vw 3.75% 9.375vw 3.75%;
   }

   .hero_text {
      margin: 0vw 1.25vw;
   }

   .hero_text .hero_title {
      font-size: 3.75vw;
      line-height: 1;
      letter-spacing: -0.015em;
   }

   .hero_text .hero_desc {
      padding-top: 1.5625vw;
      font-size: 2.1875vw;
      line-height: 1;
      letter-spacing: -0.015em;
   }

   .hero_text .hero_date {
      font-size: 0.9375vw;
      line-height: 1;
   }

   .content_list li {
      padding: 0 0 6.25vw 0;
   }
  
   .content_list li dl dt.title {
      font-size: 2.34375vw;
      line-height: 1.2;
      padding: 2.03125vw 1.25vw 0 1.25vw;
   }

   .content_list li dl dd.desc {
      font-size: 1.40625vw;
      line-height: 1.22222;
      padding: 1.09375vw 1.25vw 0 1.25vw;
   }

   .content_list li dl dd.date {
      font-size: 0.9375vw;
      line-height: 1;
      padding: 1.40625vw 1.25vw 0 1.25vw;
   }

   .btn_area {
      padding: 0 3.75% 3.59375vw 3.75%;
   }

   .btn_more .line {
      height: 2.34375vw;
   }
   
   .btn_more .line:before {
      height: 2.34375vw;
   }
   
   .btn_more .text {
      font-size: 1.40625vw;
      margin: 0.78125vw 3.125vw;
   }

}



   